# 数据类型和数据结构

Python数据类型

* 不可变：number、string、tuple、bool
* 可变：list、dictionary、set

NumPy数据结构

* ndarray（1维～3维）

NumPy数据类型

* np.64
* np.32
* np.complex
* np.bool
* np.object
* np.string
* np.unicode

Pandas数据结构

* Series
* DataFrame

Pandas数据类型

* float
* int
* bool
* datetime64[ns]
* datetime64[ns, tz]
* timedelta64[ns]
* timedelta[ns]
* category
* string
* object

In [21]:
import pandas as pd
import numpy as np
from IPython.core.interactiveshell import InteractiveShell

InteractiveShell.ast_node_interactivity = 'all' # 在同一个output里显示多个输出结果

In [22]:
# 生成 Series

# 使用Python数组
s1 = pd.Series(['100', '200', '300']) 
s1

# 使用np.array
s2 = pd.Series(np.random.randn(5), index=['a', 'b', 'c', 'd', 'e'])
s2
s2.index

# 使用字典
s3 = pd.Series({
    'a':1,
    'b':2,
    'c':3,
})
s3

# 使用标量
s4 = pd.Series(5)
s4

s5 = pd.Series(6., index=['a', 'b', 'c'])
s5

0    100
1    200
2    300
dtype: object

a   -0.738003
b   -1.248783
c    0.933253
d    0.467158
e   -0.976564
dtype: float64

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

a    1
b    2
c    3
dtype: int64

0    5
dtype: int64

a    6.0
b    6.0
c    6.0
dtype: float64

In [24]:
# 生成 DataFrame

# 使用字典
d = {
    '国家':['中国', '美国', '日本'],
    '人口':[14.33, 3.29, 1.26],
}
df = pd.DataFrame(d, index=['a', 'b', 'c'])
df

# 使用Series组成的字典

d2 = {
    'x':pd.Series([1., 2., 3.], index=['a', 'b', 'c']),
    'y':pd.Series([1., 2., 3., 4.], index=['a', 'b', 'c', 'd'])
}
df2 = pd.DataFrame(d2)
df2

# 字典组成的列表
data = [
    {
        'x':1,
        'y':2,
    },
    {
        'x':3,
        'y':4,
        'z':5,
    }
]
df3 = pd.DataFrame(data)
df3

# Series 生成
s = pd.Series(['a', 'b', 'c', 'd'])
df4 = pd.DataFrame(s)
df4

   国家     人口
a  中国  14.33
b  美国   3.29
c  日本   1.26

     x    y
a  1.0  1.0
b  2.0  2.0
c  3.0  3.0
d  NaN  4.0

   x  y    z
0  1  2  NaN
1  3  4  5.0

   0
0  a
1  b
2  c
3  d